<div class="pure-u-1-2">
      <div class='locations-map'>
        <div class='pure-u-1-2'>
          <iframe src="https://embed.waze.com/iframe?zoom=11&lat=41.881832&lon=-87.623177&pin=1&desc=1" width="400%"
            height="520"></iframe>
        </div>
      </div>
    </div>
    
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

    <ul id="myUL" class="locations">
{{#each locations as |location|}}
        <li id= "test" class="name">
            <a class="name-size">{{location.name}}🥝🍅🍌{{address}},  {{city}}    Phone: {{phone}}  Hours: {{hours_op}}</a>
        </li>
        <div class="info">
        <p class="address">
            <a></a>
        </p>
        <p class="city">
            <a></a>
        </p>
        <p class="phone">
            <a></a>
        </p>
        <p class="hours">
            <a></a>
        </p>
        </div>
        {{/each}}
    </ul>


<script>
function myFunction() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>
